{
  "swagger": "2.0",
  "info": {
    "title": "My API",
    "description": "Description",
    "version": "1.0.0"
  },
  "host": "apis.nestohub.in",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/*": {
      "options": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/api/v1/banner/addBanner": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "image": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/banner/updateBanner": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "image": {
                  "example": "any"
                },
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/banner/deleteBanner": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/banner/getAllBanner": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/banner/getBannerById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/promotionBanner/addPromotionBanner": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/promotionBanner/updatePromotionBanner": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/promotionBanner/deletePromotionBanner": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/promotionBanner/getAllPromotionBanner": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/promotionBanner/getPromotionBannerById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/boughtProperty/addBoughtProperty": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "documents": {
                  "example": "any"
                },
                "customerId": {
                  "example": "any"
                },
                "pageSize": {
                  "example": "any"
                },
                "pageNo": {
                  "example": "any"
                },
                "clientName": {
                  "example": "any"
                },
                "propertyId": {
                  "example": "any"
                },
                "sellingPrice*propertyDetails": {
                  "example": "any"
                },
                "builderId": {
                  "example": "any"
                },
                "brokerId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/boughtProperty/updateBoughtProperty": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "documents": {
                  "example": "any"
                },
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/boughtProperty/deleteBoughtProperty": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/boughtProperty/getAllBoughtProperty": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "brokerId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "builderId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "propertyId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "visitId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/boughtProperty/getBoughtPropertyById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/broker/sendOtp": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/broker/verifyOtp": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "any"
                },
                "otp": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/broker/resendOtp": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/broker/registerName": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "any"
                },
                "referalCode": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/broker/registerFromReferal": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "any"
                },
                "referalCode": {
                  "example": "any"
                },
                "otp": {
                  "example": "any"
                },
                "brokerId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/broker/updatePersonalInfo": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "documents": {
                  "example": "any"
                },
                "profilePicture": {
                  "example": "any"
                },
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/broker/updateBankInfo": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/broker/updatePreferences": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/broker/getAllBroker": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/broker/getBrokerById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/sendOtp": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/verifyOtp": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "any"
                },
                "otp": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/resendOtp": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/addShareYourIntern": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "any"
                },
                "builderId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/updatePersonalInfo": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "documents": {
                  "example": "any"
                },
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/addBuilder": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "phoneNumber": {
                  "example": "any"
                },
                "documents": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/addSubBuilder": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "phoneNumber": {
                  "example": "any"
                },
                "documents": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/updateSubBuilder": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/updateBuilder": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/getAllSubBuilder": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "parentId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "subBuilderType",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/getSubBuilderById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/deleteBuilder": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/deleteSubBuilder": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/getAllBuilder": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "parentId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "subBuilderType",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/getBuilderById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/getPropertyAnalytics": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/builder/getPendingInvoice": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/customer/addCustomer": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "phoneNumber": {
                  "example": "any"
                },
                "brokerId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/customer/updateCustomer": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/customer/deleteCustomer": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/customer/getAllCustomer": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "brokerId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/customer/getCustomerById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/addPropertyDetails": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "paymentPlan": {
                  "example": "any"
                },
                "loanApprovedByIds": {
                  "example": "any"
                },
                "milestones": {
                  "example": "any"
                },
                "images": {
                  "example": "any"
                },
                "brochureUrl": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/updatePropertyDetails": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "paymentPlan": {
                  "example": "any"
                },
                "loanApprovedByIds": {
                  "example": "any"
                },
                "milestones": {
                  "example": "any"
                },
                "images": {
                  "example": "any"
                },
                "brochureUrl": {
                  "example": "any"
                },
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/addFloorPlanAndPricing": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "specifications": {
                  "example": "any"
                },
                "furnishingDetails": {
                  "example": "any"
                },
                "floorPlanImageUrl": {
                  "example": "any"
                },
                "mainId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/updateFloorPlanAndPricing": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "specifications": {
                  "example": "any"
                },
                "furnishingDetails": {
                  "example": "any"
                },
                "floorPlanImageUrl": {
                  "example": "any"
                },
                "mainId": {
                  "example": "any"
                },
                "floorPlanId": {
                  "example": "any"
                },
                "areaSquareFeet": {
                  "example": "any"
                },
                "areaSquareMeter": {
                  "example": "any"
                },
                "price": {
                  "example": "any"
                },
                "onesqft": {
                  "example": "any"
                },
                "unitType": {
                  "example": "any"
                },
                "quantity": {
                  "example": "any"
                },
                "furnishingStatus": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/deleteFloorPlanAndPricing": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "mainId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "floorPlanId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/getAllFloorPlanAndPricing": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/getFloorPlanAndPricingById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "mainId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "floorPlanId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/addAmenities": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "iconUrl": {
                  "example": "any"
                },
                "mainId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/updateAmenities": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "iconUrl": {
                  "example": "any"
                },
                "mainId": {
                  "example": "any"
                },
                "amenitiesId": {
                  "example": "any"
                },
                "name": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/deleteAmenities": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "mainId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "amenitiesId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/getAllAmenities": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/getAmenitiesById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "mainId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "amenitiesId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/addLocationAdvantages": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "iconUrl": {
                  "example": "any"
                },
                "mainId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/updateLocationAdvantages": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "iconUrl": {
                  "example": "any"
                },
                "mainId": {
                  "example": "any"
                },
                "locationAdvantagesId": {
                  "example": "any"
                },
                "name": {
                  "example": "any"
                },
                "distance": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/deleteLocationAdvantages": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "mainId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "locationAdvantagesId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/getAllLocationAdvantages": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/getLocationAdvantagesById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "mainId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "locationAdvantagesId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/addpropertyAdvertiseMentDetails": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "iconUrl": {
                  "example": "any"
                },
                "mainId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/updatepropertyAdvertiseMentDetails": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "iconUrl": {
                  "example": "any"
                },
                "mainId": {
                  "example": "any"
                },
                "propertyAdvertiseMentDetailsId": {
                  "example": "any"
                },
                "name": {
                  "example": "any"
                },
                "location": {
                  "example": "any"
                },
                "distance": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/deletepropertyAdvertiseMentDetails": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "mainId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "propertyAdvertiseMentDetailsId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/getAllpropertyAdvertiseMentDetails": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/getpropertyAdvertiseMentDetailsById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "mainId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "propertyAdvertiseMentDetailsId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/updateCurrentlyComparing": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "currentlyComparing": {
                  "example": "any"
                },
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/updateBrokerageDetails": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/getAllProperty": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "builderId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "categoryId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "isPropertySold",
            "in": "query",
            "type": "string"
          },
          {
            "name": "isPromoted",
            "in": "query",
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/getPropertyById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "builderId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/getPropertiesAnalyticsForIndividualProperty": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "builderId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "propertyId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/property/addOnBoarding": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "images": {
                  "example": "any"
                },
                "brochureUrl": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/roles/addRoles": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/roles/updateRoles": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/roles/deleteRoles": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/roles/getAllRoles": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "builderId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "add",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/roles/getRolesById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/visit/addVisit": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "customerId": {
                  "example": "any"
                },
                "phoneNumber": {
                  "example": "any"
                },
                "brokerId": {
                  "example": "any"
                },
                "clientName": {
                  "example": "any"
                },
                "unitType": {
                  "example": "any"
                },
                "preferredLocation": {
                  "example": "any"
                },
                "minPrice": {
                  "example": "any"
                },
                "maxPrice": {
                  "example": "any"
                },
                "requirementId": {
                  "example": "any"
                },
                "builderId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/visit/visitSummary": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                },
                "overAllRating": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/visit/verifyOtp": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "visitId": {
                  "example": "any"
                },
                "otp": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/visit/resendOtp": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "visitId": {
                  "example": "any"
                },
                "builderId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/visit/deleteVisit": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/visit/getAllVisit": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "brokerId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "isPromoted",
            "in": "query",
            "type": "string"
          },
          {
            "name": "requirementId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/visit/getAllVisitAlert": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "brokerId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/visit/getVisitById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/visit/getVisitAnalytics": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "builderId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "propertyId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/dsa/sendOtp": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/dsa/verifyOtp": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "any"
                },
                "otp": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/dsa/resendOtp": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/dsa/addDsa": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/dsa/updatePersonalInfo": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "areaOfOperations": {
                  "example": "any"
                },
                "bankAssociations": {
                  "example": "any"
                },
                "documents": {
                  "example": "any"
                },
                "profilePicture": {
                  "example": "any"
                },
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/claim/addClaim": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/claim/updateClaim": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/claim/deleteClaim": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/claim/getAllClaim": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "brokerId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "builderId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "boughtPropertyId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "propertyId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "claimStatus",
            "in": "query",
            "type": "string"
          },
          {
            "name": "claimType",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/claim/getClaimById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/claim/getAllEligibleClaims": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "brokerId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/claim/updateClaimStatusForBroker": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                },
                "invoiceIds": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/requestProperty/addRequestProperty": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "images": {
                  "example": "any"
                },
                "amenities": {
                  "example": "any"
                },
                "loanApprovedBy": {
                  "example": "any"
                },
                "locationAdvantages": {
                  "example": "any"
                },
                "paymentPlan": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/requestProperty/updateRequestProperty": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "amenities": {
                  "example": "any"
                },
                "loanApprovedBy": {
                  "example": "any"
                },
                "locationAdvantages": {
                  "example": "any"
                },
                "paymentPlan": {
                  "example": "any"
                },
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/requestProperty/deleteRequestProperty": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/requestProperty/getAllRequestProperty": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "builderId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/requestProperty/getRequestPropertyById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/requestNewProperty/addRequestNewProperty": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/requestNewProperty/updateRequestNewProperty": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/requestNewProperty/deleteRequestNewProperty": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/requestNewProperty/getAllRequestNewProperty": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "builderId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/requestNewProperty/getRequestNewPropertyById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/addPropertyDetails": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "paymentPlan": {
                  "example": "any"
                },
                "loanApprovedByIds": {
                  "example": "any"
                },
                "milestones": {
                  "example": "any"
                },
                "images": {
                  "example": "any"
                },
                "brochureUrl": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/updatePropertyDetails": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "paymentPlan": {
                  "example": "any"
                },
                "loanApprovedByIds": {
                  "example": "any"
                },
                "milestones": {
                  "example": "any"
                },
                "images": {
                  "example": "any"
                },
                "brochureUrl": {
                  "example": "any"
                },
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/addFloorPlanAndPricing": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "specifications": {
                  "example": "any"
                },
                "furnishingDetails": {
                  "example": "any"
                },
                "floorPlanImageUrl": {
                  "example": "any"
                },
                "mainId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/updateFloorPlanAndPricing": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "specifications": {
                  "example": "any"
                },
                "furnishingDetails": {
                  "example": "any"
                },
                "floorPlanImageUrl": {
                  "example": "any"
                },
                "mainId": {
                  "example": "any"
                },
                "floorPlanId": {
                  "example": "any"
                },
                "areaSquareFeet": {
                  "example": "any"
                },
                "areaSquareMeter": {
                  "example": "any"
                },
                "price": {
                  "example": "any"
                },
                "onesqft": {
                  "example": "any"
                },
                "unitType": {
                  "example": "any"
                },
                "quantity": {
                  "example": "any"
                },
                "furnishingStatus": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/deleteFloorPlanAndPricing": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "mainId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "floorPlanId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/getAllFloorPlanAndPricing": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/getFloorPlanAndPricingById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "mainId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "floorPlanId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/addAmenities": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "iconUrl": {
                  "example": "any"
                },
                "mainId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/updateAmenities": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "iconUrl": {
                  "example": "any"
                },
                "mainId": {
                  "example": "any"
                },
                "amenitiesId": {
                  "example": "any"
                },
                "name": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/deleteAmenities": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "mainId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "amenitiesId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/getAllAmenities": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/getAmenitiesById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "mainId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "amenitiesId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/addLocationAdvantages": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "iconUrl": {
                  "example": "any"
                },
                "mainId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/updateLocationAdvantages": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "iconUrl": {
                  "example": "any"
                },
                "mainId": {
                  "example": "any"
                },
                "locationAdvantagesId": {
                  "example": "any"
                },
                "name": {
                  "example": "any"
                },
                "distance": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/deleteLocationAdvantages": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "mainId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "locationAdvantagesId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/getAllLocationAdvantages": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/getLocationAdvantagesById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "mainId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "locationAdvantagesId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/addpropertyAdvertiseMentDetails": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "iconUrl": {
                  "example": "any"
                },
                "mainId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/updatepropertyAdvertiseMentDetails": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "iconUrl": {
                  "example": "any"
                },
                "mainId": {
                  "example": "any"
                },
                "propertyAdvertiseMentDetailsId": {
                  "example": "any"
                },
                "name": {
                  "example": "any"
                },
                "location": {
                  "example": "any"
                },
                "distance": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/deletepropertyAdvertiseMentDetails": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "mainId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "propertyAdvertiseMentDetailsId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/getAllpropertyAdvertiseMentDetails": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/getpropertyAdvertiseMentDetailsById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "mainId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "propertyAdvertiseMentDetailsId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/updateCurrentlyComparing": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "currentlyComparing": {
                  "example": "any"
                },
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/updateBrokerageDetails": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/getAllProperty": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "builderId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "categoryId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "isPropertySold",
            "in": "query",
            "type": "string"
          },
          {
            "name": "isPromoted",
            "in": "query",
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/getPropertyById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "builderId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/getPropertiesAnalyticsForIndividualProperty": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "builderId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "propertyId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/getAllProperty/addOnBoarding": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "images": {
                  "example": "any"
                },
                "brochureUrl": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/requirement/addRequirement": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "unitType": {
                  "example": "any"
                },
                "preferredLocation": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/requirement/updateRequirement": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/requirement/deleteRequirement": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/requirement/getAllRequirement": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "brokerId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/requirement/getRequirementById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/payment/addPayment": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "accountNumber": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/payment/updatePayment": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/payment/deletePayment": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/payment/getAllPayment": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "builderId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/payment/getPaymentById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/notification/getAllNotification": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "sendTo",
            "in": "query",
            "type": "string"
          },
          {
            "name": "brokerId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "builderId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/raiseDispute/addRaiseDispute": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/raiseDispute/updateRaiseDispute": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/raiseDispute/deleteRaiseDispute": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/raiseDispute/getAllRaiseDispute": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "builderId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "visitId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/raiseDispute/getRaiseDisputeById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/termsAndConditionsBroker/addTermsAndConditionsBroker": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/termsAndConditionsBroker/updateTermsAndConditionsBroker": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/termsAndConditionsBroker/deleteTermsAndConditionsBroker": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/termsAndConditionsBroker/getAllTermsAndConditionsBroker": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/termsAndConditionsBroker/getTermsAndConditionsBrokerById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/matured/addMatured": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/matured/updateMatured": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/matured/deleteMatured": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/matured/getAllMatured": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/matured/getMaturedById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/loanQueryDetails/addLoanQueryDetails": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/loanQueryDetails/updateLoanQueryDetails": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/loanQueryDetails/deleteLoanQueryDetails": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/loanQueryDetails/getAllLoanQueryDetails": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "queryStatus",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/loanQueryDetails/getLoanQueryDetailsById": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/loanQueryDetails/updateDisbursementDetails": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/v1/loanQueryDetails/updateLoanQueryStatus": {
      "put": {
        "description": "",
        "parameters": [
[...]
